/* global declarations */

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    margin: auto;
}

/* navbar */

nav {
    display: flex;
    width: 98%;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    height: 5vh;
    padding: 0.8rem 1rem 0 1rem;
    
}

.navbar-ul  {
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    align-content: center;
    align-items: center;
}

li {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

.navbar-container {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
}

a {
    text-decoration: none;
    color: #252525;
}

a:hover {
    text-decoration-line: underline;
    color: gray;
}



/* main content styles */

.content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 53vh;
    padding-bottom: 25vh;
}

#content-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

img {
    margin-bottom: 1.7rem;
}

.searchbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.2rem;
    width: 33%;
    border: 0.5px solid gainsboro;
    border-radius: 20px;
    margin: 0.3rem 0;

}

.fa-search {
    padding-left: 1rem;
    color: gray;
}


input[type=search] {
    -webkit-appearance: none;
    width: 83%;
    border: none;
}

input[type=search]:active {
    border: none;
}

.fa-microphone {
    padding-right: 1rem;
}

.btn-container {
    margin-top: 1.2rem;
    padding: 0.5rem;
}

.btn {
    -webkit-appearance: none;
}

.btn-main {
    background-color: whitesmoke;
    border: none;
    color: gray;
    padding: 0.7rem 1rem;
    font-size: 15px;
    margin: 0 0.6rem;
    border-radius: 4px;
}

.btn-main:hover {
    border: darkgray solid 0.05rem;
    border-radius: 4px;
    padding: 0.65rem 0.95rem;
    color: black;
}

/* footer */

footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    background-color: whitesmoke;
    border-top: gainsboro solid 0.3px;
}

.footer-ul {
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
    align-content: center;
    align-items: center;
}
